/* Make sure that padding and border are included in total
width/height of all elements. */
* {
  box-sizing: border-box;
}

html {
  font-family: Barlow, Arial, sans-serif;
  color: #423d37;
}

body {
  margin: 0px;
  min-width: 320px;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: #635c52;
}

header {
  background-color: #ece4ce;
  background-image: url(img/with-camel-banner.jpg);
  background-repeat: no-repeat;
  padding: 0px;
  height: 256px;
  border-bottom: solid 1px #bdb6a4;
}

h1, h2, h3, nav, summary, header {
  font-family: "Barlow Condensed", Barlow, Arial, sans-serif;
  color: #36322f;
}

h1, h2, h3 {
  font-weight: 500;
  margin: 0.5em 0 0.2em;
}

header h1 {
  font-size: 96pt;
  margin: 50px 16px 0 300px;
}

header p {
  margin-left: 308px;
  margin-right: 22px;
  margin-block-start: -16px;
  font-size: 80%;
  color: #787166;
}

@media only screen and (max-width: 600px) {
  header h1 { margin-left: 16px; text-align: right; }
  header p { margin-left: 16px; text-align: right; display: inline-block; float: right; width: 230px; }
}

@media only screen and (max-width: 508px) {
  header p { display: none; }
}

nav {
  width: 100%;
  padding: 8px 16px 0 16px;
  background-color: #635c52;
  color: white;
  font-size: 93%;
}

nav a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding: 0 0.5em 4px 0.5em;
  border-radius: 7px 7px 0 0;
}

nav a:hover {
  background-color: #ece4ce;
  color: #36322f;
}

nav a.self {
  color: #635c52;
  background-color: white;
}

nav a.self:hover {
  color: black;
}

article {
  padding: 2em;
}

aside {
  padding: 8px 24px 0;
  max-width: 824px;
}

aside > details {
  background-color: #f5f2e8;
  border-radius: 12px;
  border: 1px solid #bdb6a4;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 90%;
  color: #635c52;
}

details > summary {
  font-size: 111%;
}

aside > details:hover {
  background-color: #ece4ce;
}

@media print {
  body {-webkit-print-color-adjust: exact;}
}